@use '../_variables.scss' as *;

.reviews {
  margin-bottom: 90px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2;
    margin-right: 20px;
  }

  &__btns {
    transform: translateY(10%);
  }

  &__btn--left {
    margin-right: 11px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.66667;
    color: $deep-blue;

    &::after {
      content: url('/public/img/Arrow-right.svg');
      margin-left: 20px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.review {
  display: flex;
  gap: 35px;

  &__info {
    max-width: 400px;
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;

    &::after {
      content: url('/public/img/reviews/VK.svg');
      margin-left: 15px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.46667;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  &__platforms {
    max-height: 130px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__platform {
    flex: 0 1 20%;
  }
}

@media (max-width: 1250px) {
  .review {
    &__platform {
      display: none;
    }

    &__subtitle {
      display: none;
    }
  }
}

@media (max-width: 1170px) {
  .reviews {
    &__header {
      display: block;
    }
  }
  .review {
    display: none;
  }

  .review--active {
    display: flex;
  }
}

@media (max-width: 680px) {
  .reviews {
    margin-bottom: 30px;

    &__header {
      margin-bottom: 40px;
      max-width: 100%;
    }

    &__navigation {
      justify-content: space-between;
    }

    &__link {
      display: none;
    }

    &__title {
      font-size: 25px;
      line-height: 1.28;
    }

    &__wrapper {
      margin-bottom: 0;
      justify-content: start;
    }
  }

  .review {
    &__img {
      display: none;
    }
  }
}
