@use '../_variables.scss' as *;

.steps {
  margin-bottom: 110px;
  position: relative;

  &__img img {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 70px;
    left: 190px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  &__list {
    padding: 70px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px 40px;
  }
}

.step {
  display: flex;
  gap: 40px;

  &__btn--mobile {
    display: none;
  }

  &__number {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
    color: $deep-blue;
    max-width: 130px;
    justify-self: end;

    &::before {
      content: url('/public/img/steps/steps-dot.svg');
      margin-right: 12px;
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__info {
    max-width: 340px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 22px;
  }

  &__description {
    font-size: 15px;
    line-height: 1.46667;
    &--link {
      color: $deep-blue;
    }
  }
}

@media (max-width: 1280px) {
  .steps {
    &__list {
      padding: 70px 70px 70px 20px;
    }

    &__title {
      color: $deep-blue;
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 1110px) {
  .steps {
    &__wrapper {
      flex-direction: column;
    }

    &__title {
      color: #fff;
    }

    &__img img {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 670px) {
  .steps {
    &__title {
      font-size: 25px;
      line-height: 1.28;
      top: 40px;
      left: 100px;
    }

    &__wrapper {
      gap: 60px;
    }

    &__list {
      padding: 0 20px 50px 20px;
      gap: 0;
      grid-template-columns: 1fr;
    }
  }

  .step {
    &__title {
      margin-bottom: 10px;
    }

    &__btn--mobile {
      display: block;
      margin: 0 auto;
      margin-bottom: 55px;
    }

    &__description {
      font-size: 14px;
      margin-bottom: 40px;
    }

    &__number {
      justify-self: start;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 510px) {
  .steps__title {
    left: 40px;
  }
}
