$main-color: #333;
$links: #3d5375;
$blue: #85cbfe;
$dark: #2e2c3b;
$deep-blue: #428dff;
$blue1: #33b7ef;
$green: #1da48b;
$line: #777;
$purple: #ef6fe2;
$night-blue: #051c6c;
$bright-green: #1da48b;

$font-family: 'Montserrat', sans-serif;
$second-family: 'Material Icons', sans-serif;
$third-family: 'Roboto', sans-serif;
